h1 {
    margin: 0 auto;
    display: block;
    font-family: 'Georgia', Times, serif;
    color: teal;
    background-size: 100%;
    border: 1inch;
    border-style: dashed;
    background-color: skyblue;
    border-color: greenyellow;
    width: 100%;
    text-align: center;

}

p, h2 {
    color: palevioletred;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bg-light {
    background-color: green !important;}

 body {
        background-size: 100%;
        background-image: url("leaves.png");
       
    }
    #numberHere{
        font-size: 32px;
        text-align: center;
    }
#updateHere {
    font-size: 32px;
}
 
      .cImg {
        width: 180px;
        height: 180px;
        cursor: pointer;
        border: solid;
        border-color:teal;
      }
      .cButton {
          display: inline;
      }
      
      #score, #finalScore {
        font-size: 32px;
        text-align: center;
      }
    